<section id ="title" class="emerald">
  <div class="container">

     <div class="row">
                <div class="col-sm-6">
                    <h2></h2>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Submit Article</li>
                    </ul> 
                </div>
      </div>
  </div>
</section>
<section id="user_view">
 <div class="container">
  <div class=" col-md-9 col-md-offset-1">
    <div class="user">
      <img src=<% if @user_img.size >0%>
               <%= @user_img.user_img_path %>
               <% else %>
               <%= asset_path 'user_image_1.jpg'%>
               <%end%>
       class="img-circle" alt="Cinque Terre" width="100" height="100">
      <h1><%= session[:user_name]%></h1>
      
      <label>
      <span><i class="glyphicon glyphicon-envelope"></i>
      <%= @user.emailid %>
      </span> 
      </label>
        <% if @user_img.size >0%>
            <%=link_to 'Update Profile' , edit_userdet_path(@user_img),class:"btn btn-info pull-right" %>
        <% else %>
           <%=link_to 'Update Profile' , new_user_userdet_path(@user) , class:"btn btn-info pull-right" %>
        <%end%>
     
      <hr>
      <section>
    <div class="container">
    <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>My Articles</h2>
                    </div>
                    <div class="gap"></div>
                    <% @posts.each do |post| %>
                        <div class="col-md-6">
                            <blockquote>
                                <span class="pull-right"><i class="icon-calendar"></i>
                                <%= time_ago_in_words( post.created_at)%> ago
                                </span>  
                                <h3><%= post.post_heading %></h3>
                                <p><%=post.post_description %></p>
                                <p><%= link_to "Read more" , post_path(post),
                                 class: "btn btn-success" %></p>
                            </blockquote> 
                        </div>  
                     <% end %>      
                    </div>      
                </div>
    </div>
    </div>
</section>
    </div>
    </div>
  </div>
  </div>
</section>
